<a href="https://colab.research.google.com/github/mhcox1251/Thinkful-Practice-Projects/blob/master/Descriptive_Statistics_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment

Using the same database credentials as in the lesson connect to a database named houseprices. This database contain a single table named houseprices. Load this table of data into a DataFrame.

In [3]:

from sqlalchemy import create_engine
import pandas as pd
from scipy import stats

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'houseprices'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

# Use the query to create a DataFrame
hp_df = pd.read_sql_table('houseprices', con=engine)

# remove the connection
engine.dispose()

# print 2 rows to see what we got
hp_df.head(2)

   id  mssubclass mszoning  ...  saletype  salecondition saleprice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500

[2 rows x 81 columns]

1. How many rows of data does the table contain?

In [4]:
hp_df.info

#1. 1460 rows

<bound method DataFrame.info of         id  mssubclass mszoning  ...  saletype  salecondition saleprice
0        1          60       RL  ...        WD         Normal    208500
1        2          20       RL  ...        WD         Normal    181500
2        3          60       RL  ...        WD         Normal    223500
3        4          70       RL  ...        WD        Abnorml    140000
4        5          60       RL  ...        WD         Normal    250000
...    ...         ...      ...  ...       ...            ...       ...
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[1460 rows x 81 columns]>

2. Are there any nulls in any columns?

In [14]:
hp_df.isnull().sum(axis = 0)

#258 nulls in the lot_frontage coulumn

id                 0
mssubclass         0
mszoning           0
lotfrontage      259
lotarea            0
                ...
mosold             0
yrsold             0
saletype           0
salecondition      0
saleprice          0
Length: 81, dtype: int64

3. How many distinct values are there in the mszoning column?

In [16]:
hp_df['mszoning'].nunique()

#4 unique values in mszoning

5

4. How many distinct values are there in the street column?

In [18]:
hp_df['street'].nunique()

#4 unique values in mszoning

2

5. Describe the range of the saleprice.

In [22]:
hp_df['saleprice'].describe()

#The min is $34900 and max is $755000, so the range is: $720100

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: saleprice, dtype: float64

6. Describe the range of the lotarea.

In [25]:
hp_df['lotarea'].describe()

#The min is $1300 and max is $215245, so the range is: $213945

count      1460.000000
mean      10516.828082
std        9981.264932
min        1300.000000
25%        7553.500000
50%        9478.500000
75%       11601.500000
max      215245.000000
Name: lotarea, dtype: float64

7. Is there a statistically significant difference between the prices of houses that have an open porch versus houses that do not have an open porch? How did you handle null values? Hint: use the variable openporchsf. You will need to transform this variable so that it can be used in a t-test.

In [33]:
hp_df.openporchsf.describe()

hp_df.openporchsf.isnull().sum()

#There are no nulls in the column.

0

In [35]:
#Grab a variable with entries were the house has an open porch:

openporch_y = hp_df.iloc[(hp_df['openporchsf'] != 0).values]
openporch_y.info()

#804 entries w/ porch (if openporchsf is non-zero)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 804 entries, 0 to 1459
Data columns (total 81 columns):
id               804 non-null int64
mssubclass       804 non-null int64
mszoning         804 non-null object
lotfrontage      659 non-null float64
lotarea          804 non-null int64
street           804 non-null object
alley            52 non-null object
lotshape         804 non-null object
landcontour      804 non-null object
utilities        804 non-null object
lotconfig        804 non-null object
landslope        804 non-null object
neighborhood     804 non-null object
condition1       804 non-null object
condition2       804 non-null object
bldgtype         804 non-null object
housestyle       804 non-null object
overallqual      804 non-null int64
overallcond      804 non-null int64
yearbuilt        804 non-null int64
yearremodadd     804 non-null int64
roofstyle        804 non-null object
roofmatl         804 non-null object
exterior1st      804 non-null object
exterior2nd      804 non-null object
masvnrtype       798 non-null object
masvnrarea       798 non-null float64
exterqual        804 non-null object
extercond        804 non-null object
foundation       804 non-null object
bsmtqual         796 non-null object
bsmtcond         796 non-null object
bsmtexposure     795 non-null object
bsmtfintype1     796 non-null object
bsmtfinsf1       804 non-null int64
bsmtfintype2     796 non-null object
bsmtfinsf2       804 non-null int64
bsmtunfsf        804 non-null int64
totalbsmtsf      804 non-null int64
heating          804 non-null object
heatingqc        804 non-null object
centralair       804 non-null object
electrical       804 non-null object
firstflrsf       804 non-null int64
secondflrsf      804 non-null int64
lowqualfinsf     804 non-null int64
grlivarea        804 non-null int64
bsmtfullbath     804 non-null int64
bsmthalfbath     804 non-null int64
fullbath         804 non-null int64
halfbath         804 non-null int64
bedroomabvgr     804 non-null int64
kitchenabvgr     804 non-null int64
kitchenqual      804 non-null object
totrmsabvgrd     804 non-null int64
functional       804 non-null object
fireplaces       804 non-null int64
fireplacequ      510 non-null object
garagetype       778 non-null object
garageyrblt      778 non-null float64
garagefinish     778 non-null object
garagecars       804 non-null int64
garagearea       804 non-null int64
garagequal       778 non-null object
garagecond       778 non-null object
paveddrive       804 non-null object
wooddecksf       804 non-null int64
openporchsf      804 non-null int64
enclosedporch    804 non-null int64
threessnporch    804 non-null int64
screenporch      804 non-null int64
poolarea         804 non-null int64
poolqc           5 non-null object
fence            117 non-null object
miscfeature      24 non-null object
miscval          804 non-null int64
mosold           804 non-null int64
yrsold           804 non-null int64
saletype         804 non-null object
salecondition    804 non-null object
saleprice        804 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 515.1+ KB

In [38]:
openporch_n = hp_df.iloc[(hp_df['openporchsf'] == 0).values]
openporch_n.info()


#656 entries w/o porch (if openporchsf is zero)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 656 entries, 1 to 1458
Data columns (total 81 columns):
id               656 non-null int64
mssubclass       656 non-null int64
mszoning         656 non-null object
lotfrontage      542 non-null float64
lotarea          656 non-null int64
street           656 non-null object
alley            39 non-null object
lotshape         656 non-null object
landcontour      656 non-null object
utilities        656 non-null object
lotconfig        656 non-null object
landslope        656 non-null object
neighborhood     656 non-null object
condition1       656 non-null object
condition2       656 non-null object
bldgtype         656 non-null object
housestyle       656 non-null object
overallqual      656 non-null int64
overallcond      656 non-null int64
yearbuilt        656 non-null int64
yearremodadd     656 non-null int64
roofstyle        656 non-null object
roofmatl         656 non-null object
exterior1st      656 non-null object
exterior2nd      656 non-null object
masvnrtype       654 non-null object
masvnrarea       654 non-null float64
exterqual        656 non-null object
extercond        656 non-null object
foundation       656 non-null object
bsmtqual         627 non-null object
bsmtcond         627 non-null object
bsmtexposure     627 non-null object
bsmtfintype1     627 non-null object
bsmtfinsf1       656 non-null int64
bsmtfintype2     626 non-null object
bsmtfinsf2       656 non-null int64
bsmtunfsf        656 non-null int64
totalbsmtsf      656 non-null int64
heating          656 non-null object
heatingqc        656 non-null object
centralair       656 non-null object
electrical       655 non-null object
firstflrsf       656 non-null int64
secondflrsf      656 non-null int64
lowqualfinsf     656 non-null int64
grlivarea        656 non-null int64
bsmtfullbath     656 non-null int64
bsmthalfbath     656 non-null int64
fullbath         656 non-null int64
halfbath         656 non-null int64
bedroomabvgr     656 non-null int64
kitchenabvgr     656 non-null int64
kitchenqual      656 non-null object
totrmsabvgrd     656 non-null int64
functional       656 non-null object
fireplaces       656 non-null int64
fireplacequ      260 non-null object
garagetype       601 non-null object
garageyrblt      601 non-null float64
garagefinish     601 non-null object
garagecars       656 non-null int64
garagearea       656 non-null int64
garagequal       601 non-null object
garagecond       601 non-null object
paveddrive       656 non-null object
wooddecksf       656 non-null int64
openporchsf      656 non-null int64
enclosedporch    656 non-null int64
threessnporch    656 non-null int64
screenporch      656 non-null int64
poolarea         656 non-null int64
poolqc           2 non-null object
fence            164 non-null object
miscfeature      30 non-null object
miscval          656 non-null int64
mosold           656 non-null int64
yrsold           656 non-null int64
saletype         656 non-null object
salecondition    656 non-null object
saleprice        656 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 420.2+ KB

In [42]:
stats.ttest_ind(openporch_n['saleprice'], openporch_y['saleprice'])

#Yes, the difference in saleprice between houses with and without open porches is very statistically significant.

Ttest_indResult(statistic=-17.31355834212178, pvalue=3.209770265256579e-61)

8. Is there a significant correlation between the lotarea and saleprice variables? Are they positively or negatively correlated?

In [41]:
#Pearson correlation test:

stats.pearsonr(hp_df['openporchsf'], hp_df['saleprice'])

#Yes, the lotarea and saleprice variables are positively correlated.

(0.3158562271160552, 3.49337362309738e-35)