<a href="https://colab.research.google.com/github/mhcox1251/Thinkful-Practice-Projects/blob/master/pythonSQLassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment description:

Using connection credentials provided below, create a Jupyter notebook that uses SQL Alchemy to access a SQL database containing data about movies. Use Python to answer some basic questions about the data.

For each question, you should have a separate cell in your Notebook that prints out the answer.

In [0]:
#Setting up notebook, connecting tool kits

!pip install sqlalchemy
!pip install psycopg2

# Import the SQL ALchemy engine
from sqlalchemy import create_engine

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.10)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.6/dist-packages (2.7.6.1)

In [0]:
# Database credentials

postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

## Question 1:

How many movies are released for each rating?

In [0]:
# Use the SQLacademy connection to execute some SQL

sql = '''
select rating, count(film_id) 
from film 
group by rating 
order by count(film_id) asc
'''

#Engine.dispose() should be called so that the engine creates brand new database connections local to that fork. 
ratings = engine.execute(sql)
engine.dispose()

#process results for use in Python:
rows = ratings.fetchall()

ratings = [x['rating'] for x in rows]
print(rows)

[('G', 178), ('PG', 194), ('R', 195), ('NC-17', 210), ('PG-13', 223)]

## Question 2:
What is the average rental duration for each rating?

In [0]:
# A simple implementation simply iterating the array

def average_duration(numbers):
  total_sum = 0;  # initialize the sum to zero
  for n in numbers:
    total_sum += n # add up the numbers in the array
  count = len(numbers)   # find the length of the array
  avg = total_sum / count  # calculate the mean
  return avg  # return the result

In [0]:
#fetch data from PostreSQL so we can use it in Python, then do the same for all 5 of the ratings
sql_g = '''
select film_id, rental_duration
from film
where rating = 'G'
group by film_id, rental_duration
'''

g = engine.execute(sql_g)
engine.dispose()

rows = g.fetchall()

g_duration = [x['rental_duration'] for x in rows]

sql_pg = '''
select film_id, rental_duration
from film
where rating = 'PG'
group by film_id, rental_duration
'''
pg = engine.execute(sql_pg)
engine.dispose()

rows = pg.fetchall()

pg_duration = [x['rental_duration'] for x in rows]

In [0]:

sql_nc17 = '''
select film_id, rental_duration
from film
where rating = 'NC-17'
group by film_id, rental_duration
'''

nc17 = engine.execute(sql_nc17)
engine.dispose()

rows = nc17.fetchall()

nc17_duration = [x['rental_duration'] for x in rows]

In [0]:
sql_pg13 = '''
select film_id, rental_duration
from film
where rating = 'PG-13'
group by film_id, rental_duration
'''

pg13 = engine.execute(sql_pg13)
engine.dispose()

rows = pg13.fetchall()

pg13_duration = [x['rental_duration'] for x in rows]

In [0]:
sql_r = '''
select film_id, rental_duration
from film
where rating = 'R'
group by film_id, rental_duration
'''
r = engine.execute(sql_r)
engine.dispose()

rows = r.fetchall()

r_duration = [x['rental_duration'] for x in rows]

#print the results!

print('The mean rental duration for G rated movies is {}.'.format(average_duration(g_duration)))
print('The mean rental duration for PG rated movies is {}.'.format(average_duration(pg_duration)))
print('The mean rental duration for PG-13 rated movies is {}.'.format(average_duration(pg13_duration)))
print('The mean rental duration for NC-17 rated movies is {}.'.format(average_duration(nc17_duration)))
print('The mean rental duration for R rated movies is {}.'.format(average_duration(r_duration)))

The mean rental duration for G rated movies is 4.837078651685394.
The mean rental duration for PG rated movies is 5.082474226804123.
The mean rental duration for PG-13 rated movies is 5.053811659192825.
The mean rental duration for NC-17 rated movies is 5.142857142857143.
The mean rental duration for R rated movies is 4.774358974358974.

## Question 3:

What is the mean movie length? Calculate this by defining a function.

In [0]:
sql = '''
select film_id, length
 from film
'''

film = engine.execute(sql)
engine.dispose()

rows = film.fetchall()
film_length = [x['length'] for x in rows]

def average_length(numbers):
  total_sum = 0;  # initialize the sum to zero
  for n in numbers:
    total_sum += n # add up the numbers in the array
  count = len(numbers)   # find the length of the array
  avg = total_sum / count  # calculate the mean
  return avg  # return the result

print('The mean movie length is {} minutes.'.format(average_length(film_length)))

The mean movie length is 115.272 minutes.

## Question 4:
What is the median movie length? Calculate this by defining a function.

In [0]:
import math

def median_length(numbers):
  numbers.sort()  # sort the list of numbers
  count = len(numbers) # get the length of the array
  isEven = count % 2 == 0 # check if this list is of even length
  
  if (isEven):
    # find the two numbers in the middle of the array
    mid = math.floor( count / 2 )
    a = numbers[mid - 1]
    b = numbers[mid]
    # find the average of these two numbers
    ans = (a + b) / 2
  else:
    ans = numbers[math.floor( count / 2 )]
 
  return ans

print('The median movie length is {} minutes.'.format(median_length(film_length)))

The median movie length is 114.0 minutes.

## Question 5:
Calculate the standard deviation of the movie lengths. Calculate this by defining a function.

In [0]:
def standard_deviation(numbers):
  X_bar = average_length(numbers)
  N = len(numbers)
  total_sum = 0
  for X in numbers:
    diff = X - X_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum / (N - 1))  
  return sigma

print('The standard deviation of the movie lengths is {}'.format(standard_deviation(film_length)))

The standard deviation of the movie lengths is 40.42633181855988